


main{
    width: 100%;
}

.container{
    padding: 0;
    width: 100%;
    }
    
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    ul.slider{
    position: relative;
    width: 100%;
    height: 400px;
    }
    
    ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
        background:#fff;
    }
    
    ul.slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    }
    
    ul.slider li:first-child {
        opacity: 1; /*Mostramos el primer <li>*/
    }
    
    ul.slider li:target {
        opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
    }
    
    .menu{
    text-align: center;
    margin: 20px;
    }
    
    .menu li{
    display: inline-block;
    text-align: center;
    }
    
    .menu li a{
        display: inline-block;
        color: white;
        text-decoration: none;
        background-color: grey;
        width: 20px;
        font-size: 20px;
        border-radius: 100%;
    }
    
    .container{
        overflow: hidden;
    }
    
    .content-all{
        width: 210px;
        margin: auto;
        perspective: 1000px;
        position: relative;
        margin-top: 150px;
        height: 200px;
    }
    
    .content-carrousel{
        width: 100%;
        position: absolute;
        animation: rotar 25s infinite linear;
        transform-style: preserve-3d;
    }
    
    .content-carrousel:hover{
        animation-play-state: paused;
    }
    
    .content-carrousel figure{
        width: 100%;
        height: 115px;
        overflow: hidden;
        position: absolute;
    }
    
    
    
    
    .content-carrousel figure:nth-child(1){transform: rotateY(0deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(2){transform: rotateY(40deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(3){transform: rotateY(80deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(4){transform: rotateY(120deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(5){transform: rotateY(160deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(6){transform: rotateY(200deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(7){transform: rotateY(240deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(8){transform: rotateY(280deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(9){transform: rotateY(320deg) translateZ(300px);}
    
    .content-carrousel figure:nth-child(10){transform: rotateY(360deg) translateZ(300px);}
    
    .content-carrousel img{
        width: 100%;
        
    }
    
    
    @keyframes rotar{
        from{
            transform: rotateY(0deg);
        }to{
            transform: rotateY(360deg);
        }
    }
    