



/*tabla de producto*/

.main__tablaproducto{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    tr{
        border: 1px solid black;
        width: 100%;
        align-items: center;
        padding: 1px;
        th{
            justify-content: center;
            padding: 10px;
        }
        td{
            justify-content: center;
            padding: 10px;
        }
    }
}
