



footer{
    background-image:linear-gradient(to left,#B2EBF2, #E1BEE7);
    padding-top: 20px;
}


.footer__redes{
    display:flex;
    justify-content: space-evenly;
    &__sociales{
        display: inline;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 0;
        li{
            display: inline;
            margin-left: 1rem;
        }
    }
}



.footer__copyright{
    display: block;
    margin: 0;
    text-align: center;
    padding: 30px;
}