






@media only screen and (max-width: 480px) and (min-width: 5px){


    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        // height: 1.5rem;
        padding: 15px;
    }
    
    .header__h1{
        font-family: 'Titillium Web', sans-serif;
        font-style: oblique;
        color: #5d9b9b;
        text-shadow: 3px 4px 8px #5d9b9b;
        display: inline;
        align-items: center;
        font-size: 0.4rem;
        padding: 3px;
    }

    #header__logo{
        display: inline;
        box-sizing: border-box;
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .header__nav__ul--li{
        display: inline;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        justify-content: space-between;
        padding: 0.5rem;
        }

    .header__nav__ul--li--a{
        text-decoration: none;
        box-sizing: border-box;
        display: inline;
        font-size: 5px;
        justify-content: space-between;
    }
    

    .slider{
        overflow: hidden;
    }
    
    .fotoProducto img{
        display: inline;
        box-sizing: border-box;
        position: relative;
        width: 4rem;
        height: 4rem;
        border-radius: 5%;
    }

    .fotoProducto{
        margin-left: 0.2rem;
        display: flex;
        justify-content: space-evenly;
    }

    .subTematica img{
        width: 56px;
        height: 56px;
    }
    
    .subTematica h2{
        text-align: center;
        padding: 3px 0;
        font-size: 8px;
    }
    

    .subTematica p{
        text-align: center;
        padding: 10px 0;
        font-size: 4px;
    }
    
    .subTematica{
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .content-all{
        width: 100%;
        margin: auto;
        perspective: 1000px;
        position: relative;
        margin-top: 150px;
        height: 200px;
        overflow: hidden;
    }
    
    .content-carrousel img{
        width: 100%;
        
    }
    
    .video{
        width: 120px;
        height: 120px;
        margin: 1rem;
    }

    .container{
        width: 100% !important; /*el important por culpa de bootstrap que tiene un important en width 800px*/
    }

    
    .fotoProductos{
        width: 100%;
    }

    .videoGrid{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "video1"
        "video2"
        "video3"
        "video4";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }

    .formularioPrueba{
        display: block;
        margin: 10px;
        width: 90%;
    }

    .formularioPrueba div{
        display: block;
        margin: 10px;
        width: 90%;
        overflow: hidden;
    }

    .formularioPrueba div{
        display: block;
    }

}


@media only screen and (max-width: 768px) and (min-width: 481px){



    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        // height: 2rem;
        padding: 15px;
    }
    
    .header__h1{
        font-family: 'Titillium Web', sans-serif;
        font-style: oblique;
        color: #5d9b9b;
        text-shadow: 3px 4px 8px #5d9b9b;
        display: inline;
        padding: 0.1rem;
        align-items: center;
        font-size: 0.8rem;
    }

    #header__logo{
        display: inline;
        box-sizing: border-box;
        height: 2rem;
        width: 2rem;
    }
    
    .header__nav__ul--li{
        display: inline;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        padding: 0.8rem;
        }

    .header__nav__ul--li--a{
        text-decoration: none;
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
    }
    
    .container{
        overflow: hidden;
    }
    
    



    .fotoProducto img{
        display: inline;
        box-sizing: border-box;
        position: relative;
        width: 6rem;
        height: 6rem;
        border-radius: 5%;
    }
    
    .fotoProducto{
        margin-left: 1rem;
        display: flex;
        justify-content: space-evenly;
    }



    .subTematica img{
        width: 80px;
        height: 80px;
    }

    .subTematica{
        width: 120px;
    }

    
    .subTematica h2{
        text-align: center;
        padding: 5px 0;
        font-size: 12px;
    }
    

    .subTematica p{
        text-align: center;
        padding: 10px 0;
        font-size: 8px;
    }
    
    .subTematica{
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-all{
        width: 100%;
        margin: auto;
        perspective: 1000px;
        position: relative;
        margin-top: 150px;
        height: 200px;
    }
    
    .content-carrousel img{
        width: 100%;
        
    }
    
    .videoChericos video1{
        width: 200px;
        height: 200px;
    }
    .videoChericos video2{
        width: 200px;
        height: 200px;
    }

    .videoChericos video3{
        width: 200px;
        height: 200px;
    }
    
    .videoChericos video4{
        width: 200px;
        height: 200px;
    }

    .video{
        width: 160px;
        height: 160px;
        margin: 1rem;
    }

    .formularioPrueba{
        display: block;
        margin: 10px;
        width: 60%;
    }



}


@media only screen and (max-width: 980px)and (min-width: 769px){



    header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        // height: 2.5rem;
        padding: 15px;
    }
    
    .header__h1{
        font-family: 'Titillium Web', sans-serif;
        font-style: oblique;
        color: #5d9b9b;
        text-shadow: 3px 4px 8px #5d9b9b;
        display: inline;
        padding: 0.2rem;
        align-items: center;
        font-size: 1.2rem;
    }

    #header__logo{
        display: inline;
        box-sizing: border-box;
        height: 2.5rem;
        width: 2.5rem;
    }
    
    .header__nav__ul--li{
        display: inline;
        box-sizing: border-box;
        text-decoration: none;
        position: relative;
        padding: 1.5rem;
        }

    .header__nav__ul--li--a{
        text-decoration: none;
        box-sizing: border-box;
        display: inline;
        font-size: 12px;
    }
    

    .container{
        overflow: hidden;
    }
    
    


    .subTematica img{
        width: 120px;
        height: 120px;
    }
    
    .subTematica h2{
        text-align: center;
        padding: 8px 0;
        font-size: 16px;
    }
    

    .fotoProducto img{
        display: inline;
        box-sizing: border-box;
        position: relative;
        width: 8rem;
        height: 8rem;
        border-radius: 5%;
    }
    
    .fotoProducto{
        margin-left: 1rem;
        display: flex;
        justify-content: space-evenly;
    }

    .subTematica p{
        text-align: center;
        padding: 10px 0;
        font-size: 12px;
    }
    
    .subTematica{
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-all{
        width: 100%;
        margin: auto;
        perspective: 1000px;
        position: relative;
        margin-top: 150px;
        height: 200px;
    }
    
    .content-carrousel img{
        width: 100%;
        
    }
    .video{
        width: 220px;
        height: 220px;
        margin: 1rem;
    }

    .formularioPrueba{
        display: block;
        margin: 10px;
        width: 60%;
    }


}